###### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [20]:
test1='This is a test of the emergency text system'

In [21]:
with open('test.txt', 'w') as f:
    f.write(test1)
    f.close()

In [22]:
!type readme.txt

This is a test of the emergency text system

###### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [23]:
with open('test.txt','r') as file:
    test2 = file.read()
    
print(test2)   
print(test1 == test2)

This is a test of the emergency text system
True

###### 3. Create a CSV file called books.csv by using these lines:

`title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992`

In [24]:
data='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

In [25]:
data

'title,author,year\nThe Weirdstone of Brisingamen,Alan Garner,1960\nPerdido Street Station,China Miéville,2000\nThud!,Terry Pratchett,2005\nThe Spellman Files,Lisa Lutz,2007\nSmall Gods,Terry Pratchett,1992'

In [26]:
with open('books.csv','w') as file:
    file.write(data)

In [27]:
!type books.csv

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

###### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [28]:
import sqlite3

conn=sqlite3.connect('books.db')
c=conn.cursor()

In [31]:
c.execute('''create table books(title text,author text,year int)''')

In [30]:
c.execute('''drop table books''')

###### 5. Read books.csv and insert its data into the book table.

In [32]:
import pandas as pd
books=pd.read_csv(r'books.csv',encoding='latin-1')


encoding is used here as it was because UTF-8 is multibyte and there is no 
char corresponding to your combination of \xe9 plus following space.

In [33]:
books

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1         Perdido Street Station   China Miéville  2000
2                          Thud!  Terry Pratchett  2005
3             The Spellman Files        Lisa Lutz  2007
4                     Small Gods  Terry Pratchett  1992

In [34]:
books.to_sql('books',conn,if_exists='append',index=False)

# write to sqllite

5

In [35]:
c.execute('''select * from books''')
c.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

###### 6. Select and print the title column from the book table in alphabetical order.

In [36]:
c.execute('''select title from books order by title asc''')
c.fetchall()

[('Perdido Street Station',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',)]

###### 7. From the book table, select and print all columns in the order of publication.

In [37]:
c.execute('''select * from books order by year asc''')
c.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007)]

###### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6

In [38]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\sanch\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sanch\anaconda3\lib\site-packages (from sqlalchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [39]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\sanch\anaconda3\lib\site-packages (23.0.1)
Note: you may need to restart the kernel to use updated packages.

In [40]:
import sqlalchemy as db

In [41]:
engine = db.create_engine('sqlite:///books.db')
#To connect with the database, use the create_engine() function.

In [42]:
connection = engine.connect()
#use the connect() function to connect with the database.

In [43]:
metadata = db.MetaData()

#We can retrieve the metadata about our database with DB.metadata.

In [44]:
shows = db.Table('books', metadata, autoload=True, autoload_with=engine)
#To load the SQL table, use the db.Table() function. The Table() function takes Shows table, Metadata, 
#autoload=True, and autoload_with=engine.

In [45]:
query = db.select([shows])

#With our table loaded, let’s prepare a query to 
#select all the records from the shows table. In regular SQL,
#to select all the records, it is “SELECT * FROM shows”. The SQLAlchemy Core 
#query looks like this.

In [46]:
result_proxy = connection.execute(query)

#To execute the query, use execute() function. It returns the object that 
#proxies cursor object from the Python Database API.

In [47]:
result_set = result_proxy.fetchall()

#To fetch the data from the object, use the fetchall() method.

In [48]:
print(result_set)

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

**9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test**

In [1]:
!pip install redis

Requirement already satisfied: redis in c:\users\sanch\anaconda3\lib\site-packages (4.3.4)
Requirement already satisfied: deprecated>=1.2.3 in c:\users\sanch\anaconda3\lib\site-packages (from redis) (1.2.13)
Requirement already satisfied: packaging>=20.4 in c:\users\sanch\anaconda3\lib\site-packages (from redis) (21.3)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\sanch\anaconda3\lib\site-packages (from redis) (4.0.2)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\sanch\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\sanch\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)

In [18]:
import redis
conn = redis.Redis()
conn.hset('test', 'count', 1)
conn.hset('test', 'name', 'Fester Bestertester')
result = conn.hgetall('test')
print(result)  # Output: {b'count': b'1', b'name': b'Fester Bestertester'}

{b'count': b'1', b'name': b'Fester Bestertester'}

##### 10. Increment the count field of test and print it.

In [19]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')

b'2'